@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <input id="userId" type="hidden" value="@ViewBag.UserId">
    <div>
        <div class="bloc-text">
            <div class="text-mess">
                <ul class="text-mess-ul"></ul>
            </div>
        </div>
        <div class="bloc-send">
            <input class="text-input" type="text" id="messege" />
            <button class="send-button" id="send">Ok</button>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            GetAllMessages();
            setInterval(Listener, 10000);
            $("#send").click(function (event)
            {
                event.preventDefault();
                SendMessage();
            });
        });
    </script>
}  